<div class="header">
  <div class="container">
    <div class="header-left">
      <img class="header-logo" src="/assets/Frame.svg" alt="logo">
      <nav class="header-nav">
        <div class="header-nav-item">Главная</div>
        <div class="header-nav-item">О компании</div>
        <div class="header-nav-item">Каталог</div>
      </nav>
    </div>
    <div class="header-right">
      <div class="header-nav-image"><img src="/assets/Phone.svg" alt=""></div>
      <nav class="header-nav">
        <div class="header-nav-item-two">+7 (965) 084-29-29</div>
        <div class="header-nav-item-two"><img src="/assets/heart.svg" alt="heart"></div>
        <div class="header-nav-item-two header-nav-item-two-border"><img src="/assets/Mask.svg" alt="shop">Пусто</div>
      </nav>
    </div>
  </div>
</div>
<div class="header-two">
  <div class="container">
    <div class="header-left-two">
      <div class="header-logo-two"><img src="/assets/light.svg" alt="light"></div>
      <nav class="header-nav">
        <div class="header-nav-item">Каталог</div>
        <div class="header-nav-item">Стройматериалы</div>
        <div class="header-nav-item">Инструменты</div>
        <div class="header-nav-item">Электрика</div>
        <div class="header-nav-item">Интерьер и одежда</div>
      </nav>
    </div>
    <div class="header-right">
      <div>
        <form action="">
          <input type="text" class="input-one" placeholder="Поиск, например Круг зачистной ">
        </form>
      </div>
      <div class="map-item"><img src="/assets/map.svg" alt="map" class="map-itemm">Москва</div>
    </div>
  </div>
</div>
<div>
  <img src="/assets/Rectangle.png" alt="backgroud-large">
</div>