<div class="header">
  <div class="container">
    <div class="header-left">
      <img class="header-logo" src="/assets/Frame.svg" alt="logo">
      <nav class="header-nav">
        <div class="header-nav-item">Главная</div>
        <div class="header-nav-item">О компании</div>
        <div class="header-nav-item">Каталог</div>
      </nav>
    </div>
    <div class="header-right">
      <div class="header-nav-image"><img src="/assets/Phone.svg" alt=""></div>
      <nav class="header-nav">
        <div class="header-nav-item-two">+7 (965) 084-29-29</div>
        <div class="header-nav-item-two"><img src="/assets/heart.svg" alt="heart"></div>
        <div class="header-nav-item-two header-nav-item-two-border"><img src="/assets/Mask.svg" alt="shop">Пусто</div>
      </nav>
    </div>
  </div>
</div>
<div class="header-two">
  <div class="container">
    <div class="header-left-two">
      <div class="header-logo-two"><img src="/assets/light.svg" alt="light"></div>
      <nav class="header-nav">
        <div class="header-nav-item">Каталог</div>
        <div class="header-nav-item">Стройматериалы</div>
        <div class="header-nav-item">Инструменты</div>
        <div class="header-nav-item">Электрика</div>
        <div class="header-nav-item">Интерьер и одежда</div>
      </nav>
    </div>
    <div class="header-right">
      <div>
        <form action="">
          <input type="text" class="input-one" placeholder="Поиск, например Круг зачистной ">
        </form>
      </div>
      <div class="map-item"><img src="/assets/map.svg" alt="map" class="map-itemm">Москва</div>
    </div>
  </div>
</div>
<div>
  <img style="width: 100%;" src="/assets/Rectangle.png" alt="backgroud-large">
</div>



<div class="advantage-container">
  <div class="advantage">
    <img class="advantage-image" src="/assets/box.svg" alt="">
    <div class="advantage-content">
      <div class="advantage-text-1">Большой ассортимент</div>
      <div class="advantage-text-2">строительных материалов всегда в наличии</div>
    </div>
  </div>
  <div class="advantage">
    <img class="advantage-image" src="/assets/car.svg" alt="">
    <div class="advantage-content">
      <div class="advantage-text-1">Доставка стройматериалов</div>
      <div class="advantage-text-2">в течении четырех часов или в любое удобное время</div>
    </div>
  </div>
  <div class="advantage">
    <img class="advantage-image" src="/assets/like.svg" alt="">
    <div class="advantage-content">
      <div class="advantage-text-1">Многоуровневая система</div>
      <div class="advantage-text-2">управления качеством по стандарту ISO 9001</div>
    </div>
  </div>
</div>



<div class="content-container">
  <div class="item-cards">
    <div class="item-cards-pagination">
      <button class="item-cards-pagination-button active-button">1</button>
      <button class="item-cards-pagination-button">2</button>
      <button class="item-cards-pagination-button">3</button>
      <button class="item-cards-pagination-button">4</button>
      <button class="item-cards-pagination-button">5</button>
    </div>
    <div class="item-cards-grid">
      <div class="item-cards-grid-left">
        <div class="item-cards-grid-left-text">Строительный отделочный инструмент</div>
        <div class="item-cards-grid-left-action">
          <span style="margin-right: 10px;">Перейти в каталог</span>
          <a class="item-cards-grid-left-action-link">
            <img src="/assets/Arrow6.svg" alt="Arrow6.svg">
          </a>
        </div>
      </div>
      <div class="item-cards-grid-right">
        <div class="item-cards-grid-right-block-1">
          <div class="item-card-text-1">Эмали</div>
          <div class="item-cards-grid-left-action">
            <span style="margin-right: 10px;">Перейти в каталог</span>
            <a class="item-cards-grid-left-action-link">
              <img src="/assets/Arrow6.svg" alt="Arrow6.svg">
            </a>
          </div>
        </div>
        <div class="item-cards-grid-right-block-2">
          <div class="item-card-text-2">Лакокрасочные материалы</div>
          <div class="item-cards-grid-left-action-2">
            <span style="margin-right: 10px;">Перейти в каталог</span>
            <a class="item-cards-grid-left-action-link-2">
              <img src="/assets/Arrow6.svg" alt="Arrow6.svg">
            </a>
          </div>
        </div>
        <div class="item-cards-grid-right-block-3">
          <div class="item-card-text-3">Пены, клеи и герметики</div>
          <div class="item-cards-grid-left-action-3">
            <span style="margin-right: 10px;">Перейти в каталог</span>
            <a class="item-cards-grid-left-action-link-3">
              <img src="/assets/Arrow6.svg" alt="Arrow6.svg">
            </a>
          </div>
        </div>
        <div class="item-cards-grid-right-block-4">
          <div class="item-card-text-4">Розетки и выключатели</div>
          <div class="item-cards-grid-left-action-4">
            <span style="margin-right: 10px;">Перейти в каталог</span>
            <a class="item-cards-grid-left-action-link-4">
              <img src="/assets/Arrow6.svg" alt="Arrow6.svg">
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="item-cards-2">
    <div class="item-cards-text">
      <div class="item-text">Популярные товары</div>
      <div class="list-text">Посмотреть все товары</div>
    </div>
    <div class="cards-disk">
      <div class="card-disk-1">
        <div class="block-image-love">
          <div class="block-image-love-2">
            <div class="block-love-1">%</div>
            <div class="block-love-2">
              <img src="/assets/Vector.svg" alt="">
            </div>
          </div>
        </div>
        <div class="block-image-text-2">Круг зачистной 125х6х22</div>
        <div class="block-image-text-3">Артикул 00004</div>
        <div class="block-image-text-4">Цена за штуку</div>
        <div class="block-image-text-5-6">
          <div class="block-image-text-5">52 руб.</div>
          <div class="block-image-text-6">48 руб.</div>
        </div>
        <div class="block-image-footer">
          <div class="block-image-footer-general">
            <div class="block-image-footer-text-1">Количество</div>
            <div class="block-image-footer-text-2">
              <span style="margin-right: 16px;">-</span>
              <div class="div-image-footer-1_2">1</div>
              <span style="margin-left: 16px;">+</span>
            </div>
          </div>
          <div class="block-image-footer-text-3">В корзину</div>
        </div>
      </div>
      <div class="card-disk-2">
        <div class="block-image-love">
          <div class="block-image-love-2">
            <div class="block-love-1">%</div>
            <div class="block-love-2">
              <img src="/assets/Vector.svg" alt="">
            </div>
          </div>
        </div>
        <div class="block-image-text-2">Круг зачистной 125х6х22</div>
        <div class="block-image-text-3">Артикул 00004</div>
        <div class="block-image-text-4">Цена за штуку</div>
        <div class="block-image-text-5-6">
          <div class="block-image-text-5">52 руб.</div>
          <div class="block-image-text-6">48 руб.</div>
        </div>
        <div class="block-image-footer">
          <div class="block-image-footer-general">
            <div class="block-image-footer-text-1">Количество</div>
            <div class="block-image-footer-text-2">
              <span style="margin-right: 16px;">-</span>
              <div class="div-image-footer-1_2">1</div>
              <span style="margin-left: 16px;">+</span>
            </div>
          </div>
          <div class="block-image-footer-text-3">В корзину</div>
        </div>
      </div>


      <div class="card-disk-3">


        <div class="block-image-love">
          <div class="block-image-love__2">


            <div class="block-image-two">
              <div class="block-love-1__2">Новинка</div>
              <div class="block-love-1" style="margin-top: 12px;">
                %
              </div>
            </div>


            <div class="block-image-right">
              <img src="/assets/Vector.svg" alt="">
            </div>
          </div>
        </div>


        <div class="block-image-text-2">Круг зачистной 125х6х22</div>
        <div class="block-image-text-3">Артикул 00004</div>
        <div class="block-image-text-4">Цена за штуку</div>
        <div class="block-image-text-5-6">
          <div class="block-image-text-5">52 руб.</div>
          <div class="block-image-text-6">48 руб.</div>
        </div>
        <div class="block-image-footer">
          <div class="block-image-footer-general">
            <div class="block-image-footer-text-1">Количество</div>
            <div class="block-image-footer-text-2">
              <span style="margin-right: 16px;">-</span>
              <div class="div-image-footer-1_2">1</div>
              <span style="margin-left: 16px;">+</span>
            </div>
          </div>
          <div class="block-image-footer-text-3">В корзину</div>
        </div>
      </div>

      <div class="card-disk-4">
        <div class="block-image-love">


          <div class="block-image-love-2">
            <div class="block-love-1__2">Новинка</div>
            <div class="block-love-2">
              <img src="/assets/Vector.svg" alt="">
            </div>
          </div>


        </div>
        <div class="block-image-text-2">Круг зачистной 125х6х22</div>
        <div class="block-image-text-3">Артикул 00004</div>
        <div class="block-image-text-4">Цена за штуку</div>
        <div class="block-image-text-5-6">
          <div class="block-image-text-5__5">52 руб.</div>
        </div>
        <div class="block-image-footer">
          <div class="block-image-footer-general">
            <div class="block-image-footer-text-1">Количество</div>
            <div class="block-image-footer-text-2">
              <span style="margin-right: 16px;">-</span>
              <div class="div-image-footer-1_2">1</div>
              <span style="margin-left: 16px;">+</span>
            </div>
          </div>
          <div class="block-image-footer-text-3">В корзину</div>
        </div>
      </div>
    </div>
  </div>


  <div class="catalog">
    <div class="catalog-padding">
      <div class="catalog-text-1">Более 10 000 наименований</div>
      <div class="catalog-text-2">Инструмент для вашего бизнеса, разнообразных марок</div>
      <div class="catalog-text-3">Перейти в каталог</div>
    </div>
  </div>


  <!-- Второй блок каталога -->



  <div class="item-cards-2 item-cards-2_1">
    <div class="item-cards-text">
      <div class="item-text">Новинки</div>
      <div class="list-text">Посмотреть все товары</div>
    </div>
    <div class="cards-disk">


      <div class="card-disk-4">
        <div class="block-image-love">


          <div class="block-image-love-2">
            <div class="block-love-1__2">Новинка</div>
            <div class="block-love-2">
              <img src="/assets/Vector.svg" alt="">
            </div>
          </div>


        </div>
        <div class="block-image-text-2">Круг зачистной 125х6х22</div>
        <div class="block-image-text-3">Артикул 00004</div>
        <div class="block-image-text-4">Цена за штуку</div>
        <div class="block-image-text-5-6">
          <div class="block-image-text-5__5">52 руб.</div>
        </div>
        <div class="block-image-footer">
          <div class="block-image-footer-general">
            <div class="block-image-footer-text-1">Количество</div>
            <div class="block-image-footer-text-2">
              <span style="margin-right: 16px;">-</span>
              <div class="div-image-footer-1_2">1</div>
              <span style="margin-left: 16px;">+</span>
            </div>
          </div>
          <div class="block-image-footer-text-3">В корзину</div>
        </div>
      </div>





      <div class="card-disk-4">
        <div class="block-image-love">


          <div class="block-image-love-2">
            <div class="block-love-1__2">Новинка</div>
            <div class="block-love-2">
              <img src="/assets/Vector.svg" alt="">
            </div>
          </div>


        </div>
        <div class="block-image-text-2">Круг зачистной 125х6х22</div>
        <div class="block-image-text-3">Артикул 00004</div>
        <div class="block-image-text-4">Цена за штуку</div>
        <div class="block-image-text-5-6">
          <div class="block-image-text-5__5">52 руб.</div>
        </div>
        <div class="block-image-footer">
          <div class="block-image-footer-general">
            <div class="block-image-footer-text-1">Количество</div>
            <div class="block-image-footer-text-2">
              <span style="margin-right: 16px;">-</span>
              <div class="div-image-footer-1_2">1</div>
              <span style="margin-left: 16px;">+</span>
            </div>
          </div>
          <div class="block-image-footer-text-3">В корзину</div>
        </div>
      </div>


      <div class="card-disk-4">
        <div class="block-image-love">


          <div class="block-image-love-2">
            <div class="block-love-1__2">Новинка</div>
            <div class="block-love-2">
              <img src="/assets/Vector.svg" alt="">
            </div>
          </div>


        </div>
        <div class="block-image-text-2">Круг зачистной 125х6х22</div>
        <div class="block-image-text-3">Артикул 00004</div>
        <div class="block-image-text-4">Цена за штуку</div>
        <div class="block-image-text-5-6">
          <div class="block-image-text-5__5">52 руб.</div>
        </div>
        <div class="block-image-footer">
          <div class="block-image-footer-general">
            <div class="block-image-footer-text-1">Количество</div>
            <div class="block-image-footer-text-2">
              <span style="margin-right: 16px;">-</span>
              <div class="div-image-footer-1_2">1</div>
              <span style="margin-left: 16px;">+</span>
            </div>
          </div>
          <div class="block-image-footer-text-3">В корзину</div>
        </div>
      </div>

      <div class="card-disk-4">
        <div class="block-image-love">


          <div class="block-image-love-2">
            <div class="block-love-1__2">Новинка</div>
            <div class="block-love-2">
              <img src="/assets/Vector.svg" alt="">
            </div>
          </div>


        </div>




        <div class="block-image-text-2">Круг зачистной 125х6х22</div>
        <div class="block-image-text-3">Артикул 00004</div>
        <div class="block-image-text-4">Цена за штуку</div>
        <div class="block-image-text-5-6">
          <div class="block-image-text-5__5">52 руб.</div>
        </div>
        <div class="block-image-footer">
          <div class="block-image-footer-general">
            <div class="block-image-footer-text-1">Количество</div>
            <div class="block-image-footer-text-2">
              <span style="margin-right: 16px;">-</span>
              <div class="div-image-footer-1_2">1</div>
              <span style="margin-left: 16px;">+</span>
            </div>
          </div>
          <div class="block-image-footer-text-3">В корзину</div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- С катологом решили, теперь переходим к footer -->


<div class="footer">
  <div class="footer-1">


    <div class="footer-left">


      <div class="footer-left-left">
        <div class="footer-image">
          <img src="/assets/Frame.svg" alt="">
        </div>


        <div class="footer-block-left">

          <div class="footer-block-left-1">
            <div class="footer-icon-phone">
              <img src="/assets/icon-2.svg" alt="">
            </div>
            <div class="footer-icon-text">
              <div class="footer-text-1">Контактный телефон</div>
              <div class="footer-text-2">+ 7 (812) 309-09-34</div>
              <div class="footer-text-3">+ 7 (965) 084-29-09</div>
            </div>
          </div>
          <div class="footer-block-left-2">
            <div class="footer-icon-phone">
              <img src="/assets/sms.svg" alt="">
            </div>
            <div class="footer-icon-text">
              <div class="footer-text-1">Электронная почта</div>
              <div class="footer-text-2">tustin78mail.ru</div>
              <div class="footer-text-3">infotustin.ru</div>
            </div>
          </div>

        </div>


      </div>

      <div class="footer-left-right">
        <div class="footer-block-right">
          <div class="footer-text-4">Остались вопросы?</div>
          <div class="footer-text-5">Узнавайте первым о скидках, предложениях и событиях еженедельно в своем почтовом
            ящике. Отпишитесь в любое время одним щелчком мыши.</div>
          <div class="footer-text-6">
            <img style="margin-left: 24px;" src="/assets/sms.svg" alt="">
            <div style="margin-left: 8px;" class="footer-text-6_1">Введите свою почту</div>
            <div class="footer-text-6_2">Отправить</div>
          </div>
        </div>
      </div>

    </div>


    <div class="footer-footer">


      <div class="footer-footer-1">
        <div class="footer-footer-text-1">Главная</div>
        <div class="footer-footer-text-2">О компании</div>
        <div class="footer-footer-text-3">Каталог</div>
      </div>

      <div class="footer-footer-2">

        <div class="footer-footer-image">
          <div>
            <img src="/assets/Social Icons-2.svg" alt="">
          </div>
          <div>
            <img src="/assets/Social Icons.svg" alt="">
          </div>
          <div>
            <img src="/assets/whatsapp.svg" alt="">
          </div>
        </div>

        <div class="footer-footer-left-text">
          <div class="footer-text">

            © 2021-2022, EDE

          </div>
        </div>


      </div>

    </div>


  </div>
</div>