<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MyProject</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
</head>
<body>
  <div class="header">
    <div class="header-left">
      <div class="header-logo"><img src="/assets/Frame.svg" alt="logo"></div>
      <nav class="header-nav">
        <div class="header-nav-item">Главная</div>
        <div class="header-nav-item">О компании</div>
        <div class="header-nav-item">Каталог</div>
      </nav>
    </div>
    <div class="header-right">
      <div class="header-nav-image"><img src="/assets/Phone.svg" alt=""></div>
      <nav class="header-nav">
      <div class="header-nav-item-two">+7 (965) 084-29-29</div>
      <div class="header-nav-item-two"><img src="/assets/heart.svg" alt="heart"></div>
      <div class="header-nav-item-two header-nav-item-two-border"><img src="/assets/Mask.svg" alt="shop">Пусто</div>
      </nav>
    </div>
  </div>
  <div class="header-two">
    <div class="header-left">
      <div class="header-logo-two"><img src="/assets/light.svg" alt="light"></div>
      <nav class="header-nav">
      <div class="header-nav-item">Каталог</div>
      <div class="header-nav-item">Стройматериалы</div>
      <div class="header-nav-item">Инструменты</div>
      <div class="header-nav-item">Электрика</div>
      <div class="header-nav-item">Интерьер и одежда</div>
      </nav>
    </div>
    <div class="header-right">
      <div>
        <form action="">
          <input type="text" class="input-one" placeholder="Поиск, например Круг зачистной ">
        </form>
      </div>
      <div class="map-item"><img src="/assets/map.svg" alt="map" class="map-itemm">Москва</div>
    </div>
  </div>
</body>
</html>