.div-form-general {
    width: 1320px;
    margin: 0 auto;
}
.div-form-general-two{
    margin: 30px 30px 30px 10px;
}
.div-form{
    display: flex;
    flex-direction: column;
    width: 150px;
}
.button{
    margin-top: 50px;
}